<ngx-extended-pdf-viewer [src]="environment.apiUrl + '/' + answerSheet.filePath"
                         backgroundColor="transparent"
                         [showRotateButton]="false"
                         [showHighlightEditor]="false"
                         [showBorders]="false"
                         [showOpenFileButton]="false"
                         [showDrawEditor]="false"
                         [showCommentEditor]="false"
                         [showPropertiesButton]="false"
                         [showBookModeButton]="false"
                         [showInfiniteScrollButton]="false"
                         [showSinglePageModeButton]="false"
                         [showVerticalScrollButton]="false"
                         [showHorizontalScrollButton]="false"
                         [showSignatureEditor]="false"
                         [showMovePageButton]="false"
                         [showPresentationModeButton]="false"
                         [showTextEditor]="false"
                         [showStampEditor]="false"
                         [showSpreadButton]="false"
                         [showScrollingButtons]="false"
                         [handTool]="!answerSheet.exam.reviewParameters.showTextLayer"
                         [textLayer]="answerSheet.exam.reviewParameters.showTextLayer"
                         [showDownloadButton]="answerSheet.exam.reviewParameters.showDownloadButton"
                         [showPrintButton]="answerSheet.exam.reviewParameters.showDownloadButton"
></ngx-extended-pdf-viewer>

