@if (accessToken){
  <ngx-extended-pdf-viewer [src]="environment.apiUrl + '/' + answerSheet.files[0].filePath"
                           backgroundColor="transparent"
                           [showRotateButton]="false"
                           [showHighlightEditor]="false"
                           [showBorders]="false"
                           [showOpenFileButton]="false"
                           [showDrawEditor]="false"
                           [showCommentEditor]="false"
                           [showPropertiesButton]="false"
                           [showBookModeButton]="false"
                           [showInfiniteScrollButton]="false"
                           [showSinglePageModeButton]="false"
                           [showVerticalScrollButton]="false"
                           [showHorizontalScrollButton]="false"
                           [showSignatureEditor]="false"
                           [showMovePageButton]="false"
                           [showPresentationModeButton]="false"
                           [showTextEditor]="false"
                           [showStampEditor]="false"
                           [showSpreadButton]="false"
                           [showScrollingButtons]="false"
                           [handTool]="!answerSheet.exam.reviewParameters.showTextLayer"
                           [textLayer]="answerSheet.exam.reviewParameters.showTextLayer"
                           [showDownloadButton]="answerSheet.exam.reviewParameters.showDownloadButton"
                           [showPrintButton]="answerSheet.exam.reviewParameters.showDownloadButton"
                           [authorization]="accessToken"
                           (pdfLoadingStarts)="loadingState = loadingStates.LOADING"
                           (pdfLoadingFailed)="loadingState = loadingStates.FAILED"
                           (pdfLoaded)="loadingState = loadingStates.LOADED"
  ></ngx-extended-pdf-viewer>
  @if(loadingState !== loadingStates.LOADED){
    <div class="position-absolute top-0 w-100 d-flex flex-column justify-content-center align-items-center gap-2 pt-5">
      @if (loadingState === loadingStates.FAILED){
        <div class="text-danger" style="width: 3rem; height: 3rem; font-size: 3rem; line-height: 3rem; " role="status">
          <i class="bi bi-x-lg"></i>
        </div>
      } @else {
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
          <span class="visually-hidden">{{loadingMessages[loadingState]}}</span>
        </div>
      }
      <span>{{loadingMessages[loadingState]}}</span>
    </div>
  }
}
