:host{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: max-content auto;
}

app-navbar {
  display: block;
  position: relative;
  grid-area: 1 / 1 / 2 / 2;
}

main{
  grid-area: 2 / 1 / 3 / 2;
}

app-toasts-container{
  grid-area: 2 / 1 / 3 / 2;
}
