.controls{
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.answer-sheet-file{
  background-color: var(--bs-gray-100);
  td {
    background-color: transparent;
  }
}

::ng-deep.datatable-body-row:has(.datatable-body-cell>.datatable-body-cell-label>i.bi){
  cursor: pointer;
}

::ng-deep.answer-sheet-file{
  position: relative;
  height: 45px !important;

  &>* {
    padding: 0 1rem;
  }

  .directory-indicator {
    margin-right: -1.5rem;
  }

  .file-name{
    padding: 1rem;
    position: relative;
    overflow: clip;
  }

  &:hover {
    background-color: var(--bs-secondary-bg);
  }
}
