<div class="input-group">
  <input
    class="form-control"
    placeholder="yyyy-mm-dd"
    name="dp"
    ngbDatepicker
    #d="ngbDatepicker"
    [(ngModel)]="currentDate"
    (ngModelChange)="handleValueChange()"
    [class.is-invalid]="isInvalid"
  />
  <button class="btn btn-primary" (click)="d.toggle()" type="button"><i class="bi bi-calendar-event"></i></button>
</div>
<ngb-timepicker [(ngModel)]="currentTime" (ngModelChange)="handleValueChange()" [class.is-invalid]="isInvalid" [spinners]="false"></ngb-timepicker>
