/* You can add global styles to this file, and also import other style files */

$web-font-path : false;
/* Importing Bootstrap SCSS file. */
@import "bootstrap-icons/font/bootstrap-icons.min.css";
@import "bootswatch/dist/zephyr/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/zephyr/bootswatch";
@import "@fontsource/inter";

.btn{
  > i.bi, > .spinner-border, > .spinner-grow {
    &:first-child:not(:last-child) {
      margin-right: 0.5rem;
    }

    &:last-child:not(:first-child) {
      margin-left: 0.5rem;
    }
  }
}
