<ngx-datatable [rows]="exams" [columns]="columns" [limit]="10" [footerHeight]="exams.length > 5 ? 55 : 0" [messages]="messages" (activate)="handleActivate($event)" rowHeight="auto" columnMode="flex">
  <ngx-datatable-footer>
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-selectedCount="selectedCount"
      let-curPage="curPage"
      let-offset="offset"
    >
      <div class="page-count fst-italic" i18n="@@app.table.footer.stats">showing {{Math.min(rowCount - (offset * pageSize), pageSize)}} of {{rowCount}} rows ({{Math.ceil(rowCount / pageSize)}} pages)</div>
      <ngx-datatable-pager></ngx-datatable-pager>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>
