<table class="table">
  <thead>
    <tr>
      <th>Semester</th>
      <th>Exam Title</th>
      <th>Primary Examiner</th>
      <th>Secondary Examiner</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    @for (entry of exams; track entry.exam._id){
      <tr [class.disabled]="!isAvailable(entry)" [routerLink]="entry.link" role="button">
        <td>{{entry.exam.semester | semesterDisplayName}}</td>
        <td>{{entry.exam.title}}</td>
        <td>{{entry.exam.primaryExaminer | userDisplayName}}</td>
        <td>{{entry.exam.secondaryExaminer | userDisplayName}}</td>
        <td>{{entry.exam.date | date}}</td>
      </tr>
    } @empty {
      <tr class="disabled">
        <td class="text-center fst-italic" colspan="5">No exams available</td>
      </tr>
    }
  </tbody>
</table>
