<div class="container py-4">
  <div class="card p-4 mb-3">
    <app-exam-editor [examId]="examId"></app-exam-editor>
  </div>
  @if(this.examId === 'new') {
    <ngb-alert [dismissible]="false" type="info">
      An exam needs to be saved once, before answer sheets can be added.
    </ngb-alert>
  } @else {
    <div class="card p-4">
      <label>Answer Sheets</label>
      <app-answer-sheet-uploader class="mt-3" [examId]="examId" (onChange)="loadAnswerSheets()"></app-answer-sheet-uploader>
      <app-answer-sheet-list class="mt-3" [answerSheets]="answerSheets"></app-answer-sheet-list>
    </div>
  }
</div>
