<ngx-datatable [rows]="answerSheets" [columns]="columns" [limit]="10" [footerHeight]="answerSheets.length > 5 ? 55 : 0" [messages]="messages" (activate)="handleActivate($event)" rowHeight="auto" columnMode="flex">
  <ngx-datatable-row-detail [rowHeight]="getDetailsRowHeight">
    <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      @for (file of row.files; track file._id){
        <div class="answer-sheet-file" (click)="showAnswerSheetFile(row._id, file)"><span class="fs-5 py-0 fw-lighter me-3">@if(!$last){├}@else{└}</span><div class="file-name">{{file.originalFileName}}</div></div>
      }
    </ng-template>
  </ngx-datatable-row-detail>

  <ngx-datatable-footer>
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-selectedCount="selectedCount"
      let-curPage="curPage"
      let-offset="offset"
    >
      <div class="page-count fst-italic" i18n="@@app.table.footer.stats">showing {{Math.min(rowCount - (offset * pageSize), pageSize)}} of {{rowCount}} rows ({{Math.ceil(rowCount / pageSize)}} pages)</div>
      <ngx-datatable-pager></ngx-datatable-pager>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>


